@import "../main.scss";


.setting{
  border-radius: 10px;
  box-shadow: 0px -1px 22px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px -1px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 22px -4px rgba(0,0,0,0.75);

  .title{
    font-family: 'Montserrat Bold';
  }
}
